.container-fluid {
    margin: 0 90px;
}

/*首页*/
.panel-heading {
    background-color: #a6d2f2;
}

.panel-title {
    color: #315d7d;
}

.content-main {
    margin: 30px 118px;
    background-color: white;
    padding: 10px 50px 50px 50px;
}

.prods {
    border-bottom: 1px solid #eaeaea;
    min-height: 170px;
}

.prods img {
    max-width: 145px;
    margin: 10px;
    width: auto;
    border-radius: 5px;
    height: auto;
    max-height: 178px;
}

.prods .caption {
    display: inline-block;
    position: absolute;
    margin: 0 10px;
}
.picCover
{
    display: inline-block;
    min-width: 165px;
}
/*index.html*/


.footer {
    text-align: center;
    color: #666;
    height: 39px;
}
.center-blo{
    text-align: center;
}
.list-content {
    background: none;
    border: 0;
    margin: 20px 20px 0 20px;
}
.input-group {
    display: inline-table;
}
.block {
    background-color: #fff;
    box-shadow: 0 0 8px 1px #e4e5e6;
    overflow: hidden;
}
.main
{
    margin: 0;
    text-align: center;
    padding: 20px;
}
.file-container {
    display: inline-block;
    position: relative;
}
.file-container .cover {
    display: inline-block;
    position: relative;
    width: 195px;
    height: 110px;
    border: 1px solid #eaeaf0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    overflow: hidden;
    z-index: 1;
}
.file-container .cover img {
    display: block;
    margin: 30px auto;
/*    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 2;
}
.file-container .cover .cover-text {
    color: #595966;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    line-height: 40px;
}
.file-container .file {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     outline: none;
     background-color: transparent;
     filter: alpha(opacity=0);
     -moz-opacity: 0;
     -khtml-opacity: 0;
     opacity: 0;
 }
.file-container .cover img.upload-img {
    width: auto;
    height: 100%;
    margin: 0 auto;
    -o-object-fit: cover;
    object-fit: cover;
}
.img-imput
{
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
}
.imageinput-up{
    position: absolute;
}
.imageinput {
    width: 200px;
    height: 200px;
}
.good-title
{
    padding: 8px 32px;
}
.good
{
    height: 42px;
}
.good-sep{
    display: inline-table;
}
.good-sep:nth-child(1){
    margin-right: 142px;
}
.paidway
{
    padding-top: 20px;
}
.paid-sep{
    display: inline-table;
}
.paid-sep:nth-child(-n+2){
    margin-right: 142px
}
.btn-publish
{
    padding: 13px 50px;
}

/* 商品页面 */
.ex-slide ul.focus-bg a{display: block; width: 100%; height: 100%; background: no-repeat 50%; background-size: contain;}
.ex-slide .wrapper{width: 100%; height: 65px; margin: 0 auto; position: relative; margin-top: 414px;}
.ex-slide .focus-box{width: 100%; height: 106px;margin: 0 auto; position: absolute; left: 0; bottom: 0; filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#4C000000', endColorstr='#4C000000'); background: rgba(0,0,0,.3);}
.ex-slide .focus-box ul{padding-left: 20px;padding: 18px 0 0 18px; overflow: hidden;}
.ex-slide .focus-box li{float: left; width: 100px; height: 80px; margin-right: 15px; position: relative;}
.ex-slide .focus-box li img{display: block; max-width: 100px; max-height: 80px; position: relative;}
.ex-slide .focus-box li.on img{border: 3px solid #24baf1;}

.ex-slide{width: 100%; height: 474px;}
.ex-slide ul.focus-bg li{width: 100%; height: 474px;}

.info-pic
{
    border: 1px solid #eaeaf0;
    -webkit-border-radius: 3px;
}
.info-base
{
    font-family: Arial;
    padding: 15px 15px;
}
.info-base h4
{
    font-size: 25px;
    line-height: 36px;
}
.info-base h2
{
    margin: 10px 0;
    font-weight: 100;
    line-height: 28px;
    padding-left: 5px;
    font-size: 14px;
}
.info-base h2 font
{
    color: #888;
    text-decoration: line-through;
}
.info-base span.grade{
    border: 1px solid #ccc;
    padding: 2px 6px;
    cursor: pointer;
    margin-right: 5px;
}
.pricewrap
{
    margin-top: 15px;
    background: #fff4f8;
    padding: 10px 0 10px 10px;
    height: auto;
    line-height: 28px;
    overflow: hidden;
}
.pricewrap .price
{
    color: #e60000;
    font-size: 18px;
    font-family: 'Microsoft YaHei';
    margin-left: 10px;
}
.purchase
 {
    width: 186px;
    margin-left: 10px;
    position: relative;
    height: 42px;
    border: 1px solid #b3b3b3;
    background-color: #f9f8f8;
    text-align: center;
}
.purchase-control{
    line-height: 42px;
    font-size: 28px;
}
.purchase input
{
    height: 40px;
    text-align: center;
    border: 0px solid #ccc;
}
.operateButton
{
    padding: 25px 0 10px;
}
.btn-addcar
{
    width: 160px;
    color: #fff;
    font-size: 16px;
    font-family: 'Microsoft YaHei';
}
.btn-collect
{
    margin-left: 25px;
    border: 1px solid #e60000;
    border-radius: 5px;
    height: 33px;
    display: inline-block;
    line-height: 33px;
    text-align: center;
    width: 88px;
    line-height: 32px;
    font-size: 12px;
    color: #e60000;
    text-decoration: none;
}
.info-foot
{
    line-height: 25px;
    padding: 14px 0 0 0;
}
.transaction-menu {
    color: #999;
    font-size: 13px;
}
.media-object
{
    width:50px;
    height:50px;
}
.recommend
{
    line-height: 28px;
}
.recommend h4{
    margin: 10px auto;
}
.recommend hr{
    margin-top: 13px;
}
.prods-rela
{
    padding-left: 0;
}
.prods-rela li a{
    color: #337ab7;
}
.prods-rela li :hover{
    color: #499ef3;
}
.prods-rela a
{
    display: block;
}
.prods-description
{
    max-height: 180px;
    min-height: 50px;
    overflow-y: auto;
}
.deco-title{
    margin: 10px 0;
    padding: 10px;
    background: #eaeaf0;
}
.comment-area{
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.comment-area .comment-body
{
    padding: 0px 4px 4px 4px;
}
.comment-body .comment-head{
    font-size: 14px;
    margin-bottom: 8px;
}
.comment-func{
    color: #999;
    margin-top: 5px;
}
.comment-func-second{
    position:relative;
    margin-left: 6px;
    font-size: 15px;
    cursor: pointer;
}
.comment-func .active{
    color: #499ef3;
}
.comment-func-second:hover{
    color: #499ef3;
}
.comment-second{
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #eee;
    padding-top: 15px;
}
.btn-seccond{
    margin: 10px 0;
}
.comment-number{
    position: absolute;
    bottom: 0px;
    left: 18px;
}
.order{
    border-bottom: 1px solid #eaeaea;
    min-height: 280px;
}
.order img{
    max-width: 200px;
    max-height: 280px;
}
.order .caption{
    display: inline-block;
    padding-left: 20px;
    line-height: 40px;
}
.order-info{
    float: left;
    width: 790px;
}
.order-func{
    float:right;
    text-align: right;
}
.order-result{
    font-size: 18px;
    color: #3c3c3c;
    line-height: 32px;
    margin: 11px 0 70px 0;
    padding: 0 0 0 42px;
    font-family: 'Hiragino Sans GB',SimHei,SimSun;
}
.order-result .ok{
    color: green;
    margin-right: 13px;
    font-size: 28px;
}
.order-price{
    color: #f40;
    font-size: 16px;
}
.order-count{
    color: #3c3c3c;
    line-height: 23px;
}
.order-btn .btn{
    padding: 8px 21px;
    font-size: 18px;
}
.order-btn a{
    color: white;
}
/*商品详情页面*/
/*异常页面*/
.jumbotron
{
    margin: 50px;
}
/*异常页面*/
/*profile.html*/
.cart-title{
    margin-top: 5px;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.cart-title span:nth-child(-n+4){
    margin-right: 50px;
}
.cart-title span:nth-child(1){
    margin-left: 20px;
    margin-right: 270px;
}
.cart{
    border-bottom: 1px solid #eaeaea;
    min-height: 120px;
    display: block;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.cart img{
    max-width: 120px;
    width: auto;
    border-radius: 5px;
    height: auto;
    max-height: 120px;
}
.cart .cart-item{
    display: inline-block;
    width: 100%;
    padding-left: 0;
}
.cart .td-inner{
    padding-top: 12px;
    display: inline-block;
}
.cart .td-price{
    display: inline-block;
    width: 60px;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
    font-size: 12px;
}
.cart .td-purchase{
    width: 100px;
}
.cart .purchase{
    width: 80px;
    margin-left: 10px;
    position: relative;
    height: 28px;
    border: 1px solid #b3b3b3;
    background-color: #f9f8f8;
    text-align: center;
    display: table-cell;
}
.cart .purchase-control{
    line-height: 30px;
    font-size: 16px;
    padding: 0;
}
.cart .purchase-input{
    height: 31px;
    text-align: center;
    border: 0px solid #ccc;
    padding: 0;
}
.item-pic{
    border: 1px solid #eee;
    float: left;
    overflow: hidden;
    width: 120px;
    text-align: center;
}
.item-info{
    display: inline-block;
    width: 180px;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
    font-size: 12px;
}
.cart .td-item{
    list-style-type: disc;
}
.cart .td{
    float: left;
    min-height: 120px;
    list-style: none;
}
.cart .td-check{
}
.cart .cart-checkbox{
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
}
.cart .cart-checkbox input{
    position: absolute;
    z-index: 0;
    left: -20px;
    top: -20px;
}
.cart .cart-checkbox label{
    position: relative;
    z-index: 1;
    float: left;
    width: 15px;
    height: 15px;
    background-position: 0 0;
    line-height: 200em;
    overflow: hidden;
    cursor: pointer;
}
.cart .td-sumprice{
    width: 80px;
}
.cart .td-func{
    line-height: 50px;
}
.cart .td-func a{
    display: block;
    width: 100px;
    margin-bottom: 5px;
}
