<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>聚宝小镇</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <head th:insert="~{import::importhead}"></head>
</head>
<script>
    window.onload = function(){
        var toclose = window.localStorage.getItem("toclose");
        if(toclose == "true"){
            window.close();
            window.localStorage.removeItem("toclose");
        }
    }
</script>
<body>
<!--head 头部分-->
<div th:insert="~{head::head}"></div>

<!--body 内容：商品-->
<div class="container-fluid content-main">
    <div class="row">
        <!--商品：列表-->
        <div class="col-sm-4 col-md-4">
            <div class="list-group">
                <div class="panel-heading">
                    <h3 class="panel-title">分类</h3>
                </div>
                <a href="#" class="list-group-item active">
                    全部
                </a>
                <a href="#" class="list-group-item">手机</a>
                <a href="#" class="list-group-item">电脑</a>
                <a href="#" class="list-group-item">配件</a>
                <a href="#" class="list-group-item">电器</a>
                <a href="#" class="list-group-item">书籍</a>
                <a href="#" class="list-group-item">娱乐</a>
                <a href="#" class="list-group-item">运动</a>
                <a href="#" class="list-group-item">活动</a>
            </div>
        </div>

        <!--商品：内容-->
        <div class="col-sm-8 col-md-8">
            <div class="list-group">
                <div class="panel-heading">
                    <h3 class="panel-title">分类·全部</h3>
                </div>
                <div class="prods" th:each="production:${paginationdto.dataDtos}">
                    <div class="picCover">
                        <img th:src="${production.picUrl}" alt="">
                    </div>
                    <div class="caption">
                        <!--http://localhost:8222/prodction/1-->
                        <h3><a th:href="@{'/production/details/'+${production.id}}" th:text="${production.title}">同济七版上下册</a></h3>
                      &nbsp;&nbsp;  ￥<span th:text="${production.price}"> 77</span> &nbsp; · &nbsp;&nbsp;&nbsp; 发布者：<span th:text="${production.user.name}">曾念念</span> &nbsp; ·&nbsp;&nbsp;&nbsp; 时间：<span th:text="${#dates.format(production.gmtCreate, 'dd/MMM/yyyy HH:mm')}"></span>
                        &nbsp;·&nbsp;&nbsp;收藏数：<span th:text="${production.likeCount}"></span>
                    </div>
                </div>
            </div>
            <!--分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a th:if="${paginationdto.showFirstPage}" th:href="@{/(page = 1)}"  aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${paginationdto.showPrevious}" th:href="@{/(page = ${paginationdto.page}-1)}"  aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${paginationdto.pages}" th:class="${paginationdto.page == page}? 'active' : ''">
                        <a th:href="@{/(page = ${page})}" th:text="${page}"></a></li>

                    <li>
                        <a th:if="${paginationdto.showNext}" th:href="@{/(page = ${paginationdto.page}+1)}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${paginationdto.showEndPage}" th:href="@{/(page = ${paginationdto.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


</body>
</html>