<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>聚宝小镇</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <head th:insert="~{import::importhead}"></head>
</head>
<body>
<!--head 头部分-->
<div th:insert="~{head::head}"></div>

<!--body 内容：商品-->
<div class="container-fluid content-main">
    <div class="row">
        <!--商品：列表-->
        <div class="col-sm-4 col-md-4">
            <div class="list-group">
                <div class="panel-heading">
                    <h3 class="panel-title">分类</h3>
                </div>
                <a href="#" class="list-group-item active">
                    全部
                </a>
                <a href="#" class="list-group-item">手机</a>
                <a href="#" class="list-group-item">电脑</a>
                <a href="#" class="list-group-item">配件</a>
                <a href="#" class="list-group-item">电器</a>
                <a href="#" class="list-group-item">书籍</a>
                <a href="#" class="list-group-item">娱乐</a>
                <a href="#" class="list-group-item">运动</a>
                <a href="#" class="list-group-item">活动</a>
            </div>
        </div>

        <!--商品：内容-->
        <div class="col-sm-8 col-md-8">
            <div class="list-group">
                <div class="panel-heading">
                    <h3 class="panel-title">分类·全部</h3>
                </div>
                <div class="prods" th:each="production:${productions}">
                    <img th:src="${production.picUrl}" alt="">
                    <div class="caption">
                        <!--http://localhost:8222/prodction/1-->
                        <h3><a th:href="@{'/production/'+${production.id}}" th:text="${production.title}">同济七版上下册</a></h3>
                      &nbsp;&nbsp;  ￥<span th:text="${production.price}"> 77</span> &nbsp; · &nbsp;&nbsp;&nbsp; 发布者：<span th:text="${production.user.name}">曾念念</span> &nbsp; ·&nbsp;&nbsp;&nbsp; 时间：<span th:text="${#dates.format(production.gmtCreate, 'dd/MMM/yyyy HH:mm')}"></span>
                    </div>
                </div>
                <div class="prods">
                    <img src="/images/math.jpg" alt="">
                    <div class="caption">
                        <a href="#"><h3>同济七版上下册</h3></a>
                        <span>￥ 77</span> <span>发布者：曾念念</span> <span>时间：</span>
                    </div>
                </div>
                <div class="prods">
                    <img src="/images/math.jpg" alt="">
                    <div class="caption">
                        <a href="#"><h3>同济七版上下册</h3></a>
                        <span>￥ 77</span> <span>发布者：曾念念</span> <span>时间：</span>
                    </div>
                </div>
            </div>
            <!--分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


</body>
</html>