<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <head th:insert="~{import::importhead}"></head>
    <head th:insert="~{import::javaeximport}"></head>
</head>

<body>
<!--head 头部分-->
<div th:insert="~{head::head}"></div>
<div class="container-fluid content-main" th:if="${section == 'details'}">
    <div class="row">
        <!--左边：商品-->
        <div class="col-sm-9 col-md-9">
            <!--商品信息-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="deco-title">商品详情</h4>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--图片信息-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 info-pic">
                    <!--幻灯片-->
                    <div id="slide" class="ex-slide">
                        <!--背景大图-->
                        <ul class="focus-bg">
                            <li th:each="pic:${pics}">
                                <a href="javascript:;" target="_blank"
                                   th:attr="style='background-image:url(/'+${pic}+')'">
                                </a>
                            </li>
                        </ul>

                        <div class="wrapper">
                            <!--焦点，如果不需要焦点的话，直接去掉这个div即可-->
                            <div class="focus-box">
                                <ul>
                                    <li th:each="pic:${pics}">
                                        <a href="javascript:;"><img th:src="${'/'+pic}"/></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    javaex.slide({
                        id: "slide",
                        delay: 3000,
                    });
                </script>
                <!--文字信息-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 info-base">
                <form th:action="${'/production/order/'+productiondto.id}" method="get">
                    <h4><span name="proTitle" th:value="${productiondto.title}" th:text="${productiondto.title}"></span>
                    </h4>
                    <h2>
                        <input type="hidden" name="proId" th:value="${productiondto.id}">
                        ZhenID:<span th:text="${productiondto.id}"></span><br>
                        区域：<a href="" target="_blank"><span th:text="${productiondto.city}"></span></a><br>
                        定　价：<font>￥</font><font th:text="${productiondto.origprice}"></font><br>
                        类别：<span class="grade" style="border: 1px solid rgb(255, 0, 0);" th:text="${productiondto.category}"></span><br>
                        数量：<span class="grade"  th:text="${productiondto.amount}"></span> 个<br>
                        交易方式：<a href="" target="_blank"><span th:text="${productiondto.payway}"></span></a><br>
                    </h2>
                    <div class="pricewrap">
                        销售价格：<b><span class="price">￥<span th:text="${productiondto.price}"></span></span></b><br>
                    </div>
                    <hr>
                    <br>
                    <div class="purchase row">
                        <a class="col-lg-4 col-md-4 col-sm-4 col-xs-4 purchase-control" id="sub"
                           href="javascript:void(0);"><span class="glyphicon glyphicon-minus"
                                                            aria-hidden="true"></span></a>
                        <input name="amount" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 purchase-input" type="text" th:value="1"
                               id="inputNum">
                        <input type="hidden" id="maxamount" th:value="${productiondto.amount}">
                        <a class="col-lg-4 col-md-4 col-sm-4 col-xs-4 purchase-control" id="add"
                           href="javascript:void(0);"><span class="glyphicon glyphicon-plus"
                                                            aria-hidden="true"></span></a>
                    </div>

                    <div class="operateButton">

                        <button type="submit" class="btn btn-danger btn-addcar"><span class="icon-add_shopping_cart"
                                                                                                                      style="color:white;"></span>
                            加入购物车
                        </button>
                        <a href="#" class="btn-collect">收藏</a>
                    </div>

                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="info-foot">
                        <span class="text-desc">
                          <input type="hidden" name="receiver" th:value="${productiondto.user.id}">
                    卖家：<span th:text="${productiondto.user.name}"></span> |
                    发布时间：<span th:text="${#dates.format(productiondto.gmtCreate,'yyyy-MM-dd HH:mm')}">13 May 2011</span> |
                    阅读数 ：<span th:text="${productiondto.viewCount}"></span></span>
                        <a th:href="@{'/publish/'+${productiondto.id}}" class="transaction-menu"
                           th:if="${session.user != null && session.user.id == productiondto.creator}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                        </a>
                    </div>

                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </form>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sp-comment">
            <!--商品详情-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <h4 class="deco-title">商品详情</h4>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prods-description">
                    <p th:text="${productiondto.description}"></p>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sp-comment">
            <!--评价-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <h4 class="deco-title">
                    <span th:text="${productiondto.commentCount}"></span>条评论正在赶来...
                </h4>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-area" th:each="comment:${commentdtos}">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${comment.user.avatarUrl==null}?'/images/default-user.jpg':${comment.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body comment-body" th:id="${'comment-body-'+comment.id}">
                            <!--信息区-->
                            <h4 class="media-heading comment-head">
                                <span th:text="${comment.user.name}"></span>
                            </h4>
                            <div th:if="${comment.content} == null"><br></div>
                            <div th:text="${comment.content}"></div>
                            <!--功能区-->
                            <div class="comment-func">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <span class="comment-func-second" th:data-id="${comment.id}"
                                      onclick="secondComment(this)">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span class="comment-number" th:text="${comment.commentCount}"></span>
                                </span>
                                <span class="pull-right"
                                      th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                            </div>
                            <!--展示二级评论区-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse comment-second"
                                 th:id="${'comment-'+comment.id}">
                                <!--ajax获取该评论的回复-->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <input type="text" class="form-control" placeholder="评论一下....."
                                           th:id="${'comment-second-'+comment.id}">
                                    <button type="button" class="btn btn-success pull-right btn-seccond"
                                            th:data-id="${comment.id}" onclick="postsecond(this)">提交
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--回复框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <h4 class="deco-title">有话要说</h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                    <!--头像-->
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${session.user}==null?'/images/default-user.jpg':${productiondto.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <span th:text="${session.user}==null?'登录才有姓名噢~':${session.user.name}"></span>
                            </h4>
                        </div>
                    </div>
                    <!--回复-->
                    <input type="hidden" id="production_id" th:value="${productiondto.id}">
                    <textarea class="form-control comment" rows="6" id="comment_content" th:if="${session.user}!=null"></textarea>
                    <input disabled th:value="请先登录..." class="form-control comment" rows="6" th:if="${session.user}==null"></input>
                    <!-- Indicates a successful or positive action -->
                    <button type="button" class="btn btn-success btn-comment" onclick="post()" th:if="${session.user}!=null">回复</button>
                </div>
            </div>
        </div>
        <!--右边：推荐-->
        <div class="col-sm-3 col-md-3 recommend">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle"
                                 th:src="${productiondto.user.avatarUrl} == null?'/images/math.jpg':${productiondto.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span th:text="${productiondto.user.name}"></span>
                        </h4>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>联系作者</h4>
                <img class="img-thumbnail img-author" src="/images/Wechat.jpg">
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关商品</h4>
                <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prods-rela" id="prods-rela">
                    <li class="changecolor" th:each="relapros : ${relatedProdtos}"><a
                            th:href="@{'/production/details/'+${relapros.id}}"
                            th:text="${relapros.title}"></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid content-main" th:if="${section == 'order'}">
    <div class="order" >
        <div class="order-info">
            <img th:src="${'/'+orderdto.production.picUrl}" alt="">
            <div class="caption">
                <h3>已添加商品：<span th:text="${orderdto.production.title}"></span>
                </h3>
                发布者：<span th:text="${orderdto.seller.name}">曾念念</span> &nbsp; ·&nbsp;&nbsp;&nbsp;
                数量：<span th:text="${orderdto.amount}"></span>  ·
                时间：<span th:text="${#dates.format(orderdto.gmtCreate, 'dd/MMM/yyyy HH:mm')}"></span>
            </div>
        </div>
        <div class="order-func">
            <div class="order-result"><span class="glyphicon glyphicon-ok ok"></span>已成功加入购物车</div>
            <div class="order-price">小计：￥<span th:text="${orderdto.production.price*orderdto.amount}">500.00</span></div>
            <div class="order-count">购物车共有 <span>25 件</span> 商品</div>
            <div class="order-btn">
                <a class="btn btn-warning"  th:href="@{'/production/details/'+${orderdto.production.id}}">&lt;返回商品详情</a>
                <a class="btn btn-danger" href="/profile/cart">查看购物车</a>
            </div>
        </div>
    </div>
</div>
</div>


</body>
</html>