<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <head th:insert="~{import::importhead}"></head>
</head>
<body>
<div th:insert="~{head::head}"></div>

<div class="login">
    <!--注册-->
    <form class="form-horizontal" action="/register" method="post" th:if="${title == 'register'}">
        <div class="form-group">
            <label for="username-regis" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
                <input name="username" type="text" class="form-control" id="username-regis" placeholder="用户名">
            </div>
        </div>
        <div class="form-group">
            <label for="accountId-regis" class="col-sm-2 control-label">AccountId</label>
            <div class="col-sm-10">
                <input name="accountId" class="form-control" id="accountId-regis" placeholder="userName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword-regis" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="inputPassword-regis"
                       placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input name="checkbox" type="checkbox" value="1"> 同意各项条款
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="alert alert-danger" th:if="${error !=null}" th:text="${error}"></span>
            </div>
        </div>
    </form>
    <!--登录-->
    <form class="form-horizontal" action="/login" method="post" th:if="${title == 'login'}">
        <div class="form-group">
            <label for="accountId" class="col-sm-2 control-label">AccountId</label>
            <div class="col-sm-10">
                <input name="accountId" class="form-control" id="accountId" placeholder="userName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input name="checkbox" type="checkbox" value="1"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="alert alert-danger" th:if="${error !=null}" th:text="${error}"></span>
            </div>
        </div>
    </form>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">使用关联账号登录</label>
            <div class="col-sm-10 ologin">
                <a class="ologina" href="https://github.com/login/oauth/authorize?client_id=fbd43814cecfc05d0eae&redirect_uri=http://localhost:8222/callback&scope=user&state=2&forcelogin=false">
                </a>
            </div>
        </div>
        <hr>

    </form>
</div>

<div th:insert="~{head :: foot}"></div>
</body>
</html>